.navbar{
  background-color:#ea907a !important;
}
.sr-only{
   color:#ffcb74;
}
.nav-link:hover{
  color:#ffcb74 !important;
}
.nav-item active{
   color:#ffcb74;
}

.slideshow{

    padding: 100px;
    display:inline-block;
    text-align:center;
    width: 100%;
}
#home{
  /*background-image:url("bkgrnd1.png");*/
}
#subhead{
  font-family: 'Big Shoulders Stencil Text', cursive;
  }
#eventdate{
  font-family: 'Inconsolata', monospace;
}
h3{
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-weight:bold;
}
h4{
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-weight:bold;
}
p{
  font-family: 'Inconsolata', monospace;
}
.nav-link{
  font-family: 'Inconsolata', monospace;
}
/*font-family: 'Big Shoulders Stencil Text', cursive;*/
/*font-family: 'Inconsolata', monospace;*/